accelerate
numpy
opencv-python
imageio
pytorch-lightning==1.8.1
torchmetrics>=0.7.0
omegaconf==2.1.1
lightning_lite
einops==0.3.0
transformers==4.24.0
diffusers==0.7.1
torchmetrics==0.10.2
bitsandbytes==0.35.4
hivemind==1.1.2
kornia==0.6.8
wandb
ftfy
torchvision
fairscale