numpy
accelerate
pytorch-lightning==1.8.1
omegaconf==2.1.1
lightning_lite
transformers==4.24.0
diffusers==0.7.1
bitsandbytes==0.35.4
hivemind==1.1.2
wandb
ftfy
torchvision
requests==2.28.1
timm
safetensors

# For hivemind
# protobuf>=3.20.0
# git+https://github.com/learning-at-home/hivemind