accelerate
numpy
opencv-python
imageio
pytorch-lightning>=1.8.1
omegaconf==2.1.1
einops==0.3.0
transformers>=4.25.1
diffusers==0.10.0
kornia==0.6.8
wandb
ftfy
safetensors
fairscale
torch-ema
tensorboard